*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.logo h2 {
    font-size: 35px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.section-heading{
    text-align: center;
    max-width: 827px;
}

.section-heading h2{
    font-size:30px;
    font-weight: 900;
    color:black;
    margin-bottom: 30px;
}
.section-heading p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 660px;
    margin: 0 auto;
    padding-bottom: 30px;
    color: #757575;
}


header {
    background-color: #fff8f3;
    background:url(../images/developer.png),url(../images/header_bg.png), #fff8f3; 
    background-position:33px 2px, bottom right ;
    background-repeat: no-repeat;
    padding: 20px;
}

nav {
    width: 71%;
    max-width: 1140px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 80px;
    align-items: center;

}

nav .menu a {
    color:black;
    font-size: 20px;
    text-decoration: none;
}
#banner .banner-content{
    max-width: 585px;
}
#banner {
    padding: 0px 24px 0 260px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 65px;
    font-weight: bold;
    color: black;
}
#banner .banner-content p {
    font-size: 18px;
    color: #181818;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner img {
    margin-bottom: -20px;
}
#about{
    padding-top: 127px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    padding: 127px 156px;
    margin: 0 auto;
    background-color: #fff8f3;
    text-align: center;
}
.td{
    display: flex;
    justify-content: space-between;
}
.info-card p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;   
}
.info-card h4{
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

#skill{
    padding-top: 130px; 
}
#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skill .select-heading h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
}
#skill .select-heading p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
    /* max-width: 660px; */
    max-width: 827px;
    margin: 0 auto;
    padding-bottom: 30px;
    color: #474747;
}

#skill .skill-box{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

#skill .skill-box .skill-card{
    /* background-color: #fff0e6; */
    padding: 50px 30px;
    /* text-align: center; */
    border-radius: 10px;
    /* flex: 1; */
    /* border: solid 1px red; */
    box-shadow: 0 6px 50px 0 #00000027;
}

.skill-card img{
    margin-bottom: 30px;
    max-width: 44px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 30px;
    color: #757575;   
}

.section-heading{
   padding-top: 130px;
    margin-bottom: 60px;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 20px;
}
.section-title{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 30px;
}
.resume-card{
    margin-right: 30px;
    max-width: 511px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #474747;
    padding-top: 30px;
}
.resume-card .card-info{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
#resume .select-heading{
    margin-bottom: 113px;
    margin-top: 130px;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
}
.btn-two{
    text-align: center;
    margin-bottom: 113px;
    margin-top: 50px;
}

footer{
    /* display: flex; */
    background-color: #fff8f3;
    /* justify-content: space-between; */
    /* padding: 130px 0; */
    padding: 130px 0 80px 0;
    /* margin: 0, auto; */
}
footer .footer-content{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 117px;
}
.footer-content h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer-content p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
    max-width: 562px;
}
.footer-content .icons a img{
    margin-right: 24px;
}

.footer-content .form [type="text"],.footer-content .form textarea {
    /* width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    color: #474747;
    background-color: #fff;
    box-shadow: 0 6px 40px 0 #0000001a; */
    max-width: 461px;
    margin-bottom: 24px;
    margin-top: 28px;
    border-radius: 5px;
    border: none;
    color: #474747;
    padding: 18px 30px;
    font-size: 16px;
}